<!DOCTYPE html>
<html>
<head>
  <title>IBM MobileFirst Angular Boilerplate</title>
  <!-- Style Sheets -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>IBM</strong> MobileFirst</a>
    </div>

    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>

    <div class="nav navbar-nav navbar-right">
      <li><a href="#"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">Signed in as <strong>damianperera</strong></a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Your Profile</a></li>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Interactions</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>

  <!-- Script References -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="../bower_components/angular-route/angular-route.min.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Production Scripts -->
  <script src="../app/bundle.js"></script>

  <!-- Development Scripts -->
  <!-- <script src="../app/controllers/controller.js"></script>
  <script src="../app/directives/directives.js"></script>
  <script src="../app/factories/factories.js"></script>
  <script src="../app/routes/routes.js"></script> -->

</body>
</html>
